workspace
videos
music
images
pictures
.gitignore
cours
documents
done.txt
todo.txt
downloads
Templates
Public
Desktop
.zsh_history
jdr
.vim/bundle/ycm_build
.viminf*
.vim/.netrwhist
.cache
.octave*

.bash_history
